node_modules
pnpm-store
.pnpm-store
.DS_Store
.git
.gitignore
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
coverage
dist
apps/**/.next
apps/**/out
apps/**/.turbo
apps/**/dist
apps/**/build
packages/**/dist
packages/**/build
